name: Cache CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore cache
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-525438c

      - name: prime-cache-525438c
        run: echo "Cache hit: ${{ steps.cache.outputs.cache-hit }}"
