name: Combined
on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: 23f2001087@ds.study.iitm.ac.in
        run: echo "Hello, world!"
      
      - uses: actions/cache@v4
        id: cache-deps
        with:
          path: ~/.cache/pip
          key: cache-525438c
      
      - name: prime-cache-525438c
        run: echo "Cache hit = ${{ steps.cache-deps.outputs.cache-hit }}"
